{% extends 'base.html' %}
{% load static %}

{% block head_title %}{{ title }}{% endblock head_title %}

{% block content %}

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner ">
        <div class="carousel-item active">
            <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'img/carousel_fruits.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>{% lorem 2 w random %}</b>{% lorem 2 w random %}</h1>
                                <h3 class="h2">{% lorem 2 w random %}</h3>
                                <p>
                                     {% lorem 2 w random %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
        <div class="carousel-item">
            <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'img/carousel_meat.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>{% lorem 2 w random %}</b>{% lorem 2 w random %}</h1>
                                <h3 class="h2">{% lorem 2 w random %}</h3>
                                <p>
                                    {% lorem 2 w random %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
        <div class="carousel-item">
            <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'img/carousel_vegetables.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>{% lorem 2 w random %}</b>{% lorem 2 w random %}</h1>
                                <h3 class="h2">{% lorem 2 w random %}</h3>
                                <p>
                                    {% lorem 2 w random %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div style="display: flex; flex-direction: row; flex-wrap: wrap">
{% if categories %}
    {% for object in categories %}
  <div class="card mx-auto" style="width: 25rem; margin: 10px">
  <a href="/product/{{ object.slug }}"><img src="{{ object.category_img.url }}" class="card-img-top" alt="img"></a>
    <div class="card-body">
      <div style="display: flex; flex-direction: row">
          <h5 class="card-title mx-auto"><a href="/product/{{ object.slug }}">{{ object.name }}</a></h5>
      </div>
      <p class="card-text text-center">{{ object.description }}</p>
    </div>
  </div>
    {% endfor %}
{% else %}
    <strong>There are no categories present.</strong>
{% endif %}
</div>


{% if not user.is_authenticated %}
<section class="bg-dark text-center p-5 mt-4">
  <div class="container p-3">
    <h3 class="text-white mb-4">Subscribe to Our Newsletter</h3>
    <form action="{% url 'New_Shop:subscribe' %}" method="post">
        {% csrf_token %}
      <div class="form-group row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <label for="email" class="visually-hidden">Email Address</label>
          <div class="input-group">
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address" required>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <label for="name" class="visually-hidden">Name</label>
          <div class="input-group">
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
{% endif %}

{% endblock content %}