{% extends 'base.html' %}
{% load static %}
{% block head_title %}Cart{% endblock head_title %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">

    <body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>Cart</h2>
            <p class="lead">Didn't forget to add anything to the cart?</p>
        </div>

        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Your cart</span>
                    <span class="badge bg-primary rounded-pill">{{ request.COOKIES.product_count_in_cart }}</span>
                </h4>
                <ul class="list-group mb-3">

                    {% for p in products %}
                        {% if p %}
                            <li class="list-group-item d-flex justify-content-between lh-sm">
                                <div class="d-flex align-items-center">
                                    <img src="{{ p.product_img.url }}" alt="{{p.name}}"
                                         class="me-3" height="50px" width="50px">
                                    <div>
                                        <h6 class="my-0">{{p.name}}</h6>
                                        <article class="product">
                                            <form method="post" action="{% url 'New_Shop:add_to_cart' p.id %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="quantity"
                                                       value="{{ object.quantity|default:1 }}">
                                                <button type="submit">+</button>
                                            </form>
                                            <span class="quantity">{{ p.quantity }}</span>
                                            <form method="post" action="{% url 'New_Shop:remove_from_cart' p.id %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="quantity"
                                                       value="{{ object.quantity|default:1 }}">
                                                <button type="submit">-</button>
                                            </form>
                                        </article>
                                    </div>
                                </div>
                                <span class="text-muted">{{p.price}}</span>
                            </li>
                        {% endif %}
                    {% endfor %}

                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">Promo code</h6>
                            <small>{{ promo_code }}</small>
                        </div>
                        <span class="text-success">{{ promo_discount }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total</span>
                        <strong>{{total}}</strong>
                    </li>
                </ul>
                <form class="card p-2">
                    <div class="input-group">
                        <label>
{#                            <form method="GET" action="{% url 'New_Shop:apply_promo_code' %}">#}
{#    {% csrf_token %}#}
{#    {{ promoCodeForm.as_p }}#}
{#    <button type="submit">Застосувати промокод</button>#}
{#  </form>#}


{#                            <form method="POST">#}
{#                                {% csrf_token %}#}
{#                                {{ promoCodeForm.as_table }}#}
{#                                <button type="submit" class="btn btn-secondary">Redeem</button>#}
{#                            </form>#}
                        </label>

                    </div>
                </form>
            </div>

            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Shipping address</h4>
                    <div class="row g-3">
                        {%if products%}
                            <form method="POST" action="{% url 'New_Shop:cart' %}">
  {% csrf_token %}
  {{ address_form|crispy }}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

                        {%else%}
                            <br><br>
                            <h1 style="text-align:center; color:red;"> First Add Product In Cart </h1>
                            <br><br><br><br><br><br><br><br><br><br>
                        {%endif%}
                    </div>


{% endblock content %}